* {
  
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    background: #fff url("../assets/bg.png") repeat;
    overflow: scroll;
    color: #525d68;
}
  
  
  .wrapper {
    height: 100%;
  }
  
  nav {
    color: rgba(82,93,104,.7);
    padding-top: 5vh;
    margin-left: 14vh;
    margin-right: 16vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f5f6f7;
    border-left: 2px solid #f5f6f7;
    border-bottom: 2px solid #f5f6f7;
  }

  nav > h2 {
    cursor: pointer;
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
  }

  nav > h2:hover {
    color: #06BC9B;
  }

  nav div:first-child {
    flex-basis: 60em;
  }

  #home{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #06BC9B;
    color: #1ba49c!important;
  }
  #Portfolio{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Portfolio a{
    color: inherit;
    text-decoration: none;
  }
  #Services{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Services a{
    color: inherit;
    text-decoration: none;
  }
  #About{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #About a{
    color: inherit;
    text-decoration: none;
  }
  #Tutorials{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Tutorials a{
    color: inherit;
    text-decoration: none;
  }
  
  #Contact{
    padding-right: 20px;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Contact a{
    color: inherit;
    text-decoration: none;
  }
  
  
  .p1{
    color: #63707e;
    margin-left: 14vh;
    margin-right: 16vh;
    border-bottom: 2px solid #f5f6f7;
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    padding: 5vh;
    text-align: center;
  }

  .login{
    border: none;
    border-radius: 4px;
    padding: 2.2vh;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    width: fit-content;
    position: absolute;
    margin-top: 5vh;
    margin-left: 67vh;
    color: white;
    background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
  }

  .signup{
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 2.2vh;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
    width: fit-content;
    position: absolute;
    margin-top: 5vh;
    margin-left: -80vh;
    color: white;
    background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
  }
  .signup a{
    color: white;
    text-decoration: none;
  }
  .login a{
    color: white;
    text-decoration: none;
  }
  .login:hover{
    background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
  }
  .signup:hover{
    background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
  }
  .p2{
    display: flex;
    margin-top: 3vh;
    margin-left: 14vh;
    margin-right: 16vh;
    padding: 4vh;
    background-color: #f5f6f7;
  }

  .tablet{
    z-index: 1;
    position: relative;
  }

  .laptop{
    margin-left: -100px;

  }
  abbr{
    cursor: help;
  }

.p4{
  font-family: 'roboto', sans-serif;
  font-size: 2rem;
  color: #63707e;
  float: right;
}

.containterp4{
  margin: 10vh;
}

.viewPf{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 30vh;
  margin-left: 17vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
}

.viewPf:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
#viewIcon{
  padding-right: 5px;
  padding-left: 100px;
}
#viewIcon:hover{
  color: #525d68;
}

.designCnt{
  justify-content: space-between;
  margin-bottom: 10vh;
  margin-top: 5vh;
  margin-left: 14vh;
  margin-right: 16vh;
  display: flex;

}
.pencils{
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
  margin-right: 30px;
  padding-bottom: 90px;
}
.pencilsP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  color: #525d68;
}
.pencilshead{
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  padding: 15px;
  color: #06BC9B;
}


.www{
  margin-right: 30px;
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
}

.wwwP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  padding-bottom: 30px;
  color: #525d68;
}
.wwwhead{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  color: #06BC9B;
}

.digital{
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
}
.digitalP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  padding-bottom: 10px;
  color: #525d68;
}
.digitalhead{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  color: #06BC9B;
}

.learnP{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 3vh;
  margin-left: -9vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  
}

.learnP:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}

 /* footer */
 .footerContainer{
  background-color: #33485F;
 }
.footer{
  margin-left: 14vh;
  margin-right: 16vh;
  padding: 20px;
  background-color: #2a3b4e;

}

.mediaIcons{
  margin: 20px;
  text-align: center;
  color: white;
}
.mediaIcons i:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
 #bg-fb{

    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 20px;
    padding: 10px;
    background-color: #3664a2;
}
#bg-twtr{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #55acee;
}

#bg-gg{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #dd4b39;
}
#bg-lnkin{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #0077b5;
}


.line{
  justify-content: center;
  display: flex;
}
.line p{
  padding: 2px;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  font-size: 1.1rem;
  color: white;
}
.line p:hover{
  color: #06BC9B;
}

.credit{
  padding: 5px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 0.75rem;
  color: #83909d;
}

.triangle-up {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 45%;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #06BC9B;
}

#trglIcon{
  margin-top: 15px;
  margin-left: -7px;
  color: white;
}
#trglIcon:hover{
  cursor: pointer;
  color: #83909d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body {
    background: #fff url("../assets/bg.png") repeat;
    overflow: scroll;
    color: #525d68;
}
  
  
  .wrapper {
    height: 100%;
  }
  
  nav {
    color: rgba(82,93,104,.7);
    padding-top: 5vh;
    margin-left: 14vh;
    margin-right: 16vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f5f6f7;
    border-left: 2px solid #f5f6f7;
    border-bottom: 2px solid #f5f6f7;
  }

  nav > h2 {
    cursor: pointer;
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    font-weight: 500;
  }

  nav > h2:hover {
    color: #06BC9B;
  }

  nav div:first-child {
    flex-basis: 60em;
  }

  #home{
    text-decoration: none;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #06BC9B;
    color: #1ba49c!important;
  }
  #Portfolio{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Services{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #About{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Resources{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Tutorials{
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  #Contact{
    padding-right: 20px;
    margin-top: 25px;
    padding-bottom: 20px;
    margin-right: 20px;
  }
  
  
  .p1{
    color: #63707e;
    margin-left: 14vh;
    margin-right: 16vh;
    border-bottom: 2px solid #f5f6f7;
    font-family: 'roboto', sans-serif;
    font-size: 1.5rem;
    padding: 5vh;
    text-align: center;
  }

  .p2{
    display: flex;
    margin-top: 3vh;
    margin-left: 14vh;
    margin-right: 16vh;
    background-color: #f5f6f7;
  }

  abbr{
    cursor: help;
  }
.FullStack-containter{
    display: flex;
    background-color: #f5f6f7;
    margin-top: 3vh;
    margin-left: 14vh;
    margin-right: 16vh;
  }
.me-pic{
  z-index: -1;
  position: absolute;
}
.p4{
    font-family: 'roboto', sans-serif;
    font-size: 2rem;
    color: #63707e;
  }

.viewPf{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 20vh;
  margin-left: 22vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
}

.viewPf:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
#viewIcon{
  padding-right: 5px;
  padding-left: 100px;
}
#viewIcon:hover{
  color: #525d68;
}

.designCnt{
  justify-content: space-between;
  margin-bottom: 10vh;
  margin-top: 5vh;
  margin-left: 14vh;
  margin-right: 16vh;
  display: flex;

}
.pencils{
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
  margin-right: 30px;
  padding-bottom: 90px;
}
.pencilsP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  color: #525d68;
}
.pencilshead{
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  padding: 15px;
  color: #06BC9B;
}


.www{
  margin-right: 30px;
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
}

.wwwP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  padding-bottom: 30px;
  color: #525d68;
}
.wwwhead{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  color: #06BC9B;
}

.digital{
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
}
.digitalP{
  font-size: 1.2rem;
  line-height: 22px;
  font-family: Varela Round;
  padding: 5px;
  padding-bottom: 10px;
  color: #525d68;
}
.digitalhead{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.4rem;
  padding: 10px;
  color: #06BC9B;
}

.learnP{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 3vh;
  margin-left: -9vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  
}

.learnP:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}

 /* footer */
 .footerContainer{
  background-color: #33485F;
 }
.footer{
  margin-left: 14vh;
  margin-right: 16vh;
  padding: 20px;
  background-color: #2a3b4e;

}

.mediaIcons{
  margin: 20px;
  text-align: center;
  color: white;
}
.mediaIcons i:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
 #bg-fb{

    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    margin-right: 20px;
    padding: 10px;
    background-color: #3664a2;
}
#bg-twtr{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #55acee;
}

#bg-gg{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #dd4b39;
}
#bg-lnkin{

  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
  margin-right: 20px;
  padding: 10px;
  background-color: #0077b5;
}


.line{
  justify-content: center;
  display: flex;
}
.line p{
  padding: 2px;
  cursor: pointer;
  font-family: 'roboto', sans-serif;
  font-size: 1.1rem;
  color: white;
}
.line p:hover{
  color: #06BC9B;
}

.credit{
  padding: 5px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 0.75rem;
  color: #83909d;
}

.triangle-up {
  margin-top: 20px;
  margin-bottom: -20px;
  margin-left: 45%;
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid #06BC9B;
}

#trglIcon{
  margin-top: 15px;
  margin-left: -7px;
  color: white;
}
#trglIcon:hover{
  cursor: pointer;
  color: #83909d;
}

/* login page */

#home-login{
 
  text-decoration: none;
  margin-top: 25px;
  padding-bottom: 20px;
  margin-right: 20px;
}
#home-login a{
  color: rgba(82,93,104,.7);
  text-decoration: none;
}
#home-login a:hover {
  color:#06BC9B;
}

.login-form {
  padding: 20px;
  margin: 2rem 20rem;
  background: #f5f6f7;
   box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.form-header {
  margin-bottom: 15px;
  padding: 15px;
  text-align: center;
  font-family: 'roboto', sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  color: #63707e;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 1);
}
.form-control {
  margin-bottom: 10px;
}
.form-input {
  margin-left: 10%;
  padding: 10px 10px;
  width:80%;
  margin-top: 5px;
  border: none;
  outline: none;
  border: 1px solid rgba(82,93,104,.7);;
  font-size: 0.9em;
}
.form-input:focus {
  border-color:  #379683;
}
.btn {
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
  color: #fff;
  margin-left: 10%;
  display: inline-block;
  position: relative;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.btn:hover {
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.signup-link{
  padding-bottom: 4%;
  margin-left: 10%;
  color: #33485F;
  font-size: 20px;
}
.signup-link a{
   font-family: 'roboto', sans-serif;
   font-size: 1.5em;
   font-weight: 300;
   color: #63707e;
   text-decoration: none;
   font-weight: 600;
   font-size: 25px;
   text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}
.signup-link a:hover{
  border: 2px solid #fff;
  color: #06BC9B;
}

/* about page  */
.body-container{
  margin-left: 2%;
}
.container-me{
  display: flex;
  text-align: center;
  flex-basis: 400px;
  background-color: #f5f6f7;
  padding: 5vh;
  margin: 5vh 16vh 5vh 14vh;
  padding-bottom: 90px;
}
.abt-btn{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 8vh;
  margin-left: -15vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
}
.abt-btn a{
  text-decoration: none;
  color: white;
  
}
.abt-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.contact-btn{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 8vh;
  margin-left: 28vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
}

.contact-btn a{
  text-decoration: none;
  color: white;
  
}

.contact-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}

/* contact page */
.quoter{
  color: #63707e;
  margin-left: 14vh;
  margin-right: 16vh;
  border-bottom: 2px solid #f5f6f7;
  font-family: 'roboto', sans-serif;
  font-size: 200%;
  padding: 5vh;
  text-align: center;
}

.contact-container {
  display: flex;
  margin: 3vh 16vh 3vh 14vh;
}


.OfficeH {
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  padding: 15px;
  color: #06BC9B;
}
.form-header-contact{
  background-color: #06BC9B;
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  padding: 35px;
  color: #fff;
}
.item1 {
  background: #f5f6f7;
}
.item1 > p{
  font-size: 1.1rem;
  text-align: center;
  padding: 10px;
}
.item1 > div{
  text-align: center;
  padding: 10px;
}

.item2 {
  text-align: center;
  width: 100%;
  margin-left: 25px;
  padding-bottom: 100px;
  background: #f5f6f7;
}
.item2 > div{
margin-top: 30px;
}

.form-input-contact {
  border-radius: 5px;
  padding: 15px;
  width:80%;
  margin-top: 15px;
  border: none;
  outline: none;
  border: 1px solid  #cccccc;
  font-size: 0.9em;
}
.form-input-contact:focus {
  border: 2px solid  #379683;

}
.form-privacy-contact{
  margin-left: 50px;
  text-align: start;
  font-family: 'roboto', sans-serif;
  font-size: 0.90rem;
  padding: 30px;
}
.form-input-contact-message{
  border-radius: 5px;
  padding: 50px;
  width:80%;
  margin-top: 15px;
  border: none;
  outline: none;
  border: 1px solid #cccccc;
  font-size: 1em;
}
.form-input-contact-message:focus {
  border: 2px solid  #379683;

}

.enquire-btn{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  padding-right: 36vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 15vh;
  margin-left: 5vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  
}

.enquire-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.checkbox{

  padding-bottom: 50px;
  font-size: 1.3rem;
  margin-left: 80px;
  float: left;
}
.check-label{
  font-weight: 300!important;
  color: #525d68;
  margin-bottom: 0;
}
.pro-btn{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 2vh;
  margin-left: -15vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
}
.pro-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.item1-sub{
  border-top: 10px solid  #fff;
}


/* menu button */

.menu-container {
  background-color: #06BC9B;
  padding: 5px;
  margin: 50px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 20;
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

#list-menu{
  box-shadow: 0 1px 1px 1px rgba(0, 0, 4, 0.1);
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;
  background: #f5f6f7;
  color: #06BC9B;
  padding: 5%;
}

#list-menu > h2:hover {
  color: rgba(82,93,104,.7);
}


/* myblog page  */

.post-container {
  text-align: center;
  width: 100%;
  margin-left: 25px;
  padding-bottom: 100px;
  margin-top: 5%;
  background: #f5f6f7;
}
.recent-post{
  margin: 2% 7% 3% 5%;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
}
.continue-reading{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-top: 3vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  
}

.continue-reading:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}

.continue-reading a{
  text-decoration: none;
  color: white;
}
.quoter-post{
  color: #63707e;
  font-family: 'roboto', sans-serif;
  font-size: 120%;
  padding: 1vh 3vh;
  text-align: center;
}
.post-header-cntn{
  margin: 50px;
  background-color: #06BC9B;
  padding: 5vh 5vh 5vh 1vh;
}
.post-header{
  padding: 5vh 5vh 5vh 1vh;
  background-color: #06BC9B;
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: #fff;
}
.post-credit{
  position: absolute;
  margin-top: 8vh;
  margin-left: 2vh;
  color: #63707e;
  font-style: italic;
  font-family: 'roboto', sans-serif;
  font-size: 1.1rem;

}

.login{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
}
.login a{
  color: white;
  text-decoration: none;
}
.login:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}


.joinus-btn{
  margin-top: 2%;
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
}
.joinus-btn a{
  color: white;
  text-decoration: none;
}
.joinus-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.joinus-body{
  color: #63707e;
  margin-left: 14vh;
  margin-right: 16vh;
  border-bottom: 2px solid #f5f6f7;
  margin-top: 2%;
  font-family: 'roboto', sans-serif;
  font-size: 1.7rem;
  padding: 2vh 5vh ;
  text-align: center;
}
#privacy{
  color: #06BC9B;
}

/* readMore page */

.readMore-post{
  color: #63707e;
  font-family: 'roboto', sans-serif;
  font-size: 120%;
  padding: 1vh 3vh;
  padding-top: 3vh;
  text-align: center;
}
.comment-cntn{
  background-color: khaki;
  margin-left: 14vh;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.comment-btn{
  margin-bottom: 2vh;
  margin-left: 47vh;
  margin-top: 2%;
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c); 
}
.comment-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.checkbox-comment{
  font-size: 1.3rem;
  margin: 2vh 9vh;
}
.form-privacy-comment{
  text-align: center;
}
.form-control-comment{
  margin: 1vh;
  text-align: center;
}

.update-post{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  position: absolute;
  margin-left: 55vh;
  margin-top: 3vh;
  color: white;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  
}

.update-post:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.update-post a{
  text-decoration: none;
  color: white;
}
.recent-comment{
  margin: 2% 7% 3% 5%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 30px;
}
.comment-container {
  text-align: center;
  width: 100%;
  margin-left: 25px;
  margin-top: 5%;
  background: #f5f6f7;
}
.comment-header{
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  margin: 5vh 11vh -5vh 14vh;
  border-bottom: 10px solid #eee;
}



/* editing page */

.editing-textarea{
  color: #63707e;
  font-family: 'roboto', sans-serif;
  font-size: 120%;
  padding: 1vh 2vh;
  padding-top: 3vh;
  text-align: center;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.edit-title{
  border: none;
  width: 100%;
  padding: 5vh 5vh 5vh 1vh;
  background-color: #06BC9B;
  font-family: 'roboto', sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

.updating-btn{
  border: none;
  border-radius: 4px;
  padding: 2.2vh;
  padding-left: 3vh;
  font-family: 'roboto', sans-serif;
  font-size: 1.2rem;
  width: fit-content;
  margin-top: 1vh;
  background-image: -webkit-linear-gradient(left,#06BC9B,#1ba49c);
  color: white;
  
}

.updating-btn:hover{
  background-image: -webkit-linear-gradient(left,#1ba49c,#06BC9B);
}
.updating-btn a{
  color: white;
  text-decoration: none;
}



/* media query  */




@media only screen and (max-width: 1300px) {
  .abt-btn{
    position: relative;
  }
  .login-form{
    margin: 10%;
  }

  .recent-post{
    display: block;
  }

  /* contact page  */

  .contact-container {
    margin-right: 50%;
    margin: 0% 15% 0% 5%;
    display: block;
  }
  .item1{
    display: none;
  }
  .enquire-btn{
    margin-left: unset;
    margin-top: -5vh;
    position: relative;
  }
  .form-privacy-contact{
    margin: unset;
  }
  .checkbox{
    margin-left: 5vh;
  }

  .list-menu{
    display: none;
  }

  /* landing page */
  .abt-btn{
    margin: 10% auto auto auto;
    position: relative;
  }
  .container-me{
    display: block;
  }
  .FullStack-containter{
    display: none;
  }

  .p2{
    display: block;
  }
  .designCnt{
    margin: 10%;
    display: block;
  }
 .pencils{
   padding: auto;
   margin: 10px auto;
 }
 .www{
  padding: auto;
  margin: 10px auto;
}
.digital{
  padding: auto;
  margin: 10px auto;
}
.learnP{
  position: relative;
}
.contact-btn{
  position: relative;
}
.update-post{
  margin-left: 50%;
  position: relative;
}

}



@media only screen and (max-width: 800px) {


  nav{
    margin: 5%;
  }
  nav > h2{
    display: none;
  }
  .line{
    display: none;
  }
  .container-me{
    margin: 5%;
  }
  .contact-btn{
    margin-left: auto;
    position: relative;
  }
  #viewIcon{
    padding-left: 10px;
  }
  .recent-comment {
    margin: 2% 7% 3% 5%;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
  }
  .comment-header{
    margin: 5%;
    margin: 3% 5%;
  }
  .comment-cntn{
    width: 70%;
  }

  .form-privacy-comment{
    text-align: center;
  }

}

@media only screen and (min-width: 800px) {


.menu-container {
  display: none;
}

}

@media only screen and (max-width: 600px) {
  .update-post{
    margin-left: auto;
    text-align: center;
    margin-top: 25%;
  }
  .comment-cntn{
    border-top: 10px solid white;
    margin-top: -5%;
    margin-left: 5%;
    width: 90%;
  }
  .recent-comment {
    margin: 2% 10% 2% 2%;
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 30px;
  }
  .comment-header{
    margin: 2% 10%;
  }

  body{
    overflow-x: hidden;
  }
  .designCnt{
    margin: 5%;
    display: block;
  }
  .joinus-body{
    font-size: 1.2rem;
    margin: 5%;
  }

  .quoter{  
    font-size: 1.2rem;
    margin: 5%;
  }
  .mediaIcons{
    margin: 5% auto;
  }
  .footer{
    margin: 0% 10%;
  }
  .scroolUpCt{
    margin-right: 25%;
  }
  .enquire-btn{
    padding: 5% 10%;
  }
  .continue-reading{
    position: relative;
    margin-top: 15vh;
  }
  .post-container{
    border-top: 20px solid  #fff;
    margin: auto;
    margin-bottom: -10vh;
  }
}

@media only screen and (max-width: 500px) {
  .recent-comment {
    margin: 2% 12% 2% 2%;
  }
  .comment-btn{
    margin-left: 5%;
    position: relative;
  }
}